.menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 112px;
  height: calc(100dvh - 112px);
  width: 100%;
  padding-top: 10px;
  background: var(--background);
  z-index: 999;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}

.menuInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuActive {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.rowItem {
  flex: 1 0 auto;
  background: var(--white);
  padding: 8px 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contactsPhone {
  font-size: 14px;
}

.schedule {
  font-size: 14px;
  color: var(--blue-light);
}

.actions {
  display: flex;
  gap: 8px;
}

.action {
  flex: 1 0 auto;
  background: var(--white);
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.actionIcon {
  width: 24px;
  height: 24px;
}

.actionTitle {
  font-size: 14px;
}

.schedules {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: var(--white);
  padding: 8px 8px;
  border-radius: 8px;
}

.menuList {
  border-radius: 8px;
  background: var(--white);
}

.menuLink {
  display: block;
  padding: 16px 15px;
}

.menuItem:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.dropdownBtn {
  padding: 16px 15px;
  display: flex;
  justify-content: space-between;
}

.dropdownLink {
  padding: 16px 15px 16px 30px;
  display: flex;
  justify-content: space-between;
}

.dropdown > .dropdownList {
  opacity: 0;
  max-height: 0px;
  transition: all 0.3s ease;
}

.dropdownActive > .dropdownList {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease;
}
