.seo {
  position: relative;
  font-size: 14px;
  background: var(--white);
  border-radius: 8px;
  padding: 20px 20px 60px;
  margin-top: 24px;
  max-height: 5000px;
  transition: all 0.7s ease-in-out;
}

.seoInnerHidden {
  max-height: 260px;
  overflow-y: hidden;
  transition: all 0.7s ease-in-out;
}

.seoInnerHidden::before {
  display: block;
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
}

.seoHide {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seoBtn {
  height: 40px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.seoBtnText {
  color: var(--blue-light);
  font-size: 14px;
}

.seoBtnText:hover {
  text-decoration: underline;
}

.seoBtnImg {
  filter: invert(43%) sepia(97%) saturate(2347%) hue-rotate(189deg) brightness(105%) contrast(91%);
}

.seoHeader {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 24px;
}

.seo p {
  margin: 14px 0;
  line-height: 1.1;
}

.seo strong {
  font-weight: 400;
}

.seo a {
  font-size: 16px;
}

.seo h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.seo h3:not(:first-child) {
  margin-top: 20px;
}

.seo h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
.seo h4:not(:first-child) {
  margin-top: 20px;
}

.seo ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.seo ul:not(:last-child) {
  margin-bottom: 20px;
}

.seo ul li {
  margin-left: 30px;
}

.seo ol {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.seo ol:not(:last-child) {
  margin-bottom: 10px;
}

.seo ol li {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .seo {
    padding: 20px 12px 60px;
  }

  .seoHeader {
    font-size: 16px;
  }

  .seo p {
    font-size: 14px;
  }

  .seo a {
    font-size: 14px;
  }

  .seo h3 {
    font-size: 14px;
  }

  .seo h4 {
    font-size: 14px;
  }

  .seo ul {
    font-size: 14px;
  }

  .seo ul li {
    font-size: 14px;
  }

  .seo ol {
    font-size: 14px;
  }
}
