.container {
  max-width: calc(1300px + 40px);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.body {
  padding: 50px 80px;
  background: var(--white);
  border-radius: 8px;
}

.about {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
}

.text {
  display: none;
}

.city {
  padding: 25px 0;
  display: flex;
  gap: 40px;
}

.city:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.map {
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
}

.cityName {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 12px;
  color: var(--grey-light);
  margin-bottom: 5px;
}

.addressInfo {
  font-size: 14px;
}

.phoneInfos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.scheduleInfo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  font-size: 14px;
}

.link:hover {
  color: var(--red);
}

.emailInfo {
  font-size: 14px;
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 20px;
}

.socialsItem {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--grey-90);
  transition: all 0.2s ease-in-out;
}

.socialsIcon {
  height: 24px;
  width: 24px;
  filter: invert(81%) sepia(76%) saturate(185%) hue-rotate(98deg) brightness(13%) contrast(71%);
}

.socialsItemWhatsapp:hover {
  border-color: #25d366;
  background: #25d366;
}

.socialsItemWhatsapp:hover .socialsIconWhatsapp {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(103%) contrast(101%);
}

.socialsItemInstagram:hover {
  width: 36px;
  height: 36px;
  border: none;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.socialsItemInstagram:hover .socialsIconInstagram {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(103%) contrast(101%);
}

.socialsItemYoutube:hover {
  border-color: #ff0000;
  background: #ff0000;
}

.socialsItemYoutube:hover .socialsIconYoutube {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(103%) contrast(101%);
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .body {
    padding: 20px 12px;
  }

  .text {
    display: block;
    font-size: 14px;
  }

  .city {
    flex-direction: column;
    gap: 20px;
  }

  .info {
    width: 100%;
  }

  .map {
    display: none;
    width: 100%;
  }

  .cityName {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .about {
    font-size: 14px;
  }

  .about {
    display: none;
  }

  .slider {
    display: none;
  }
}
