/* CATEGORIES */
.container {
  max-width: calc(1300px + 40px);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.categoriesBox {
  display: flex;
  gap: 20px;
  height: 600px;
}

.categoryGroupLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "torgovyeStellazhi kassovyeBoksy skladskieStellazhi"
    "torgovyeStellazhi kassovyeBoksy skladskieStellazhi"
    "torgovyeStellazhi kassovyeBoksy skladskieStellazhi "
    "torgovyeStellazhi palletnyeStellazhi skladskieStellazhi "
    "torgovyeStellazhi palletnyeStellazhi skladskieStellazhi "
    "torgovyeStellazhi palletnyeStellazhi skladskieStellazhi "
    "torgovyeStellazhi torgovoeOborudovanie torgovoeOborudovanie "
    "torgovyeStellazhi torgovoeOborudovanie torgovoeOborudovanie "
    "torgovyeStellazhi torgovoeOborudovanie torgovoeOborudovanie "
    "kommercheskayaMebel torgovoeOborudovanie torgovoeOborudovanie "
    "kommercheskayaMebel torgovoeOborudovanie torgovoeOborudovanie "
    "kommercheskayaMebel torgovoeOborudovanie torgovoeOborudovanie "
    "kommercheskayaMebel torgovoeOborudovanie torgovoeOborudovanie ";
  gap: 20px;
  grid-auto-flow: row;
}

.categoryGroupRight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " holodilnoeOborudovanie holodilnoeOborudovanie oborudovanieDlyaAptek"
    " holodilnoeOborudovanie holodilnoeOborudovanie oborudovanieDlyaAptek"
    " holodilnoeOborudovanie holodilnoeOborudovanie oborudovanieDlyaAptek"
    " holodilnoeOborudovanie holodilnoeOborudovanie nejtralnoeOborudovanie"
    " holodilnoeOborudovanie holodilnoeOborudovanie nejtralnoeOborudovanie"
    " posOborudovanie metallicheskieShkafy nejtralnoeOborudovanie"
    " posOborudovanie metallicheskieShkafy nejtralnoeOborudovanie"
    "  posOborudovanie metallicheskieShkafy nejtralnoeOborudovanie"
    " posOborudovanie metallicheskieShkafy nejtralnoeOborudovanie"
    " vitriny metallicheskieShkafy nejtralnoeOborudovanie"
    " vitriny metallicheskieShkafy oborudovanieDlyaObshepita"
    " vitriny metallicheskieShkafy oborudovanieDlyaObshepita"
    " vitriny metallicheskieShkafy oborudovanieDlyaObshepita";
  gap: 20px;
  grid-auto-flow: row;
}

.holodilnoeOborudovanie {
  grid-area: holodilnoeOborudovanie;
}

.posOborudovanie {
  grid-area: posOborudovanie;
}

.vitriny {
  grid-area: vitriny;
}

.metallicheskieShkafy {
  grid-area: metallicheskieShkafy;
}

.oborudovanieDlyaAptek {
  grid-area: oborudovanieDlyaAptek;
}

.nejtralnoeOborudovanie {
  grid-area: nejtralnoeOborudovanie;
}

.oborudovanieDlyaObshepita {
  grid-area: oborudovanieDlyaObshepita;
}

.kassovyeBoksy {
  grid-area: kassovyeBoksy;
}

.palletnyeStellazhi {
  grid-area: palletnyeStellazhi;
}

.torgovoeOborudovanie {
  grid-area: torgovoeOborudovanie;
}

.skladskieStellazhi {
  grid-area: skladskieStellazhi;
}

.kommercheskayaMebel {
  grid-area: kommercheskayaMebel;
}

.torgovyeStellazhi {
  grid-area: torgovyeStellazhi;
}

.category {
  min-width: 200px;
  min-height: 135px;
  position: relative;
  display: flex;
  padding: 30px 20px 20px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-align: center;
  background: var(--white);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.categoryImage {
  margin: auto;
  height: 80%;
  object-fit: contain;
}

.category:hover {
  transform: scale(1.02);
}

.categoryMd {
  padding: 25px 15px 20px 15px;
}

.categorySm {
  padding: 20px 10px 10px 10px;
  font-size: 12px;
}

.categoryTitle {
  color: var(--grey);
  font-weight: 300;
}

.categoryCount {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--grey-light);
  font-size: 12px;
  font-weight: 300;
}

/* Specific category classes */
.categoryTorgovyeStellazhi {
  grid-row: span 2;
}

.categoryKassovye {
  grid-column: 1;
  grid-row: 1;
}

.categoryPalletnyeStellazhi {
  grid-column: 1;
  grid-row: 2;
}

.categorySkladskieStellazhi {
  grid-column: 2;
  grid-row: span 2;
}

.categoryTorgovoeOborudovanie {
  grid-column: span 2;
  grid-row: span 2;
}

.categoryHolodilnoe {
  grid-column: span 2;
  grid-row: 1;
}

.categoryPosOborudovanie {
  grid-column: 1;
  grid-row: 2;
}

.categoryVitriny {
  grid-column: 1;
  grid-row: 3;
}

.categoryMetallicheskieShkafy {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.categoryOborudovanieDlyaAptek {
  grid-row: 1;
}

.categoryNejtralnoeOborudovanie {
  grid-row: 2 / span 2;
}

.categoryOborudovanieDlyaObshepita {
  grid-row: 4;
}

@media (max-width: 1352px) {
  .category {
    min-width: auto;
    width: auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    width: 100%;
  }

  .title {
    display: none;
  }

  .categoriesBox {
    border-radius: 8px;
    background: var(--white);
    display: block;
    gap: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
  }

  .categoryGroupLeft {
    display: flex;
    gap: 0;
  }

  .categoryGroupRight {
    display: flex;
    gap: 0;
  }

  .categoriesBox::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .categoriesBox::-webkit-scrollbar-thumb {
    background-color: #d9dcde;
    border-radius: 8px;
  }

  .oborudovanieDlyaAptek {
    display: none;
  }

  .categoriesBox::-webkit-scrollbar-track {
    background: var(--white);
  }

  .category {
    min-width: 120px;
    height: 120px;
    padding: 10px;
  }

  .categoryImage {
    margin: auto;
    height: 60px;
    width: 80px;
    object-fit: contain;
  }

  .categoryCount {
    display: none;
  }

  .categoryTitle {
    font-size: 14px;
  }

  .categoryImage {
    object-fit: contain;
  }
}

@media (max-width: 425px) {
  .category {
    min-width: 110px;
    height: 120px;
  }
}
