.productCard {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: var(--white);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}

.productCard:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08), 0 -4px 12px 0 rgba(0, 0, 0, 0.05);
}

.productCardDay {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px;
  background: var(--white);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.productCardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productCardLabel {
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  color: var(--white);
  font-size: 10px;
  font-weight: 700;
  background: var(--red);
  border-radius: 4px;
}

.productCardActions {
  display: flex;
  gap: 10px;
}

.productCardAction {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.productCardActionActive {
  filter: invert(24%) sepia(100%) saturate(7486%) hue-rotate(5deg) brightness(91%) contrast(97%);
}

.productCardAction:hover {
  filter: invert(24%) sepia(100%) saturate(7486%) hue-rotate(5deg) brightness(91%) contrast(97%);
}

.productCardView {
  align-self: center;
  height: 140px;
  width: 140px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productCardDay .productCardView {
  width: 220px;
  height: 160px;
}

.productCardTitle {
  font-size: 14px;
  text-wrap: wrap;
  color: inherit;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 3em;
  color: var(--grey-90);
  margin-bottom: 10px;
}

.productCardDay .productCardTitle {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 2em;
}

.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.productCardDay .reviews {
  margin-bottom: 0px;
}

.reviewsIcon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.reviewsRating {
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
}

.reviewsText {
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  color: var(--grey);
}

.productCardFooter {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCardDay .productCardFooter {
  margin-bottom: 0;
}

.productCardPriceActual {
  color: var(--grey-90);
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.productCardPriceDiscount {
  color: var(--grey-90);
  font-size: 12px;
  text-decoration: line-through;
}

.productCardButtonCart {
  color: var(--white);
  padding: 4px 16px;
  width: 100%;
  background: var(--red);
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}

.productCardDay .productCardButtonCart {
  width: auto;
  padding: 8px 16px;
  background: var(--red);
}

.productCardButtonCart:hover {
  background: var(--red-dark);
}

.productCardStickers {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .productCardTitle {
    -webkit-line-clamp: 2;
    height: 2em;
    margin-bottom: 4px;
  }
  .productCard {
    position: relative;
    padding: 16px 10px 10px;
    margin-bottom: 4px;
  }

  .productCardActionCompare {
    display: none;
  }

  .productCardView {
    margin-bottom: 10px;
  }

  .productCardHeader {
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
  }

  .reviews {
    margin-bottom: 4px;
  }

  .productCardButtonCart {
    font-size: 14px;
  }
}
