.filter {
  height: 100%;
  max-width: 310px;
}

.filterBody {
  padding: 20px;
  background: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectedFilters {
  padding: 20px;
  background: var(--white);
  border-radius: 8px;
  margin-bottom: 20px;
}

.selectedFiltersTitle {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.selectedFiltersItems {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.selectedFiltersRemove {
  display: flex;
  align-items: center;
  color: var(--grey-light);
  height: 30px;
  cursor: pointer;
  padding: 7px 10px;
  border: 1px solid var(--grey-light);
  border-radius: 8px;
}

.selectedFiltersRemove:hover {
  color: var(--red);
  border-color: var(--red);
}

.selectedFiltersRemove:hover .selectedFiltersRemoveImage {
  filter: invert(10%) sepia(99%) saturate(7452%) hue-rotate(16deg) brightness(98%) contrast(97%);
}

.selectedFiltersRemove span::first-letter {
  text-transform: uppercase;
}

.selectedFiltersReset {
  height: 40px;
  padding: 10px 10px 10px 30px;
  border: 1px solid var(--grey-light);
  width: 100%;
  color: var(--grey-light);
  cursor: pointer;
  border-radius: 8px;
}

.selectedFiltersReset:hover {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
}

.filterSectionHeader {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filterValuesHidden {
  position: relative;
  height: 100%;
  max-height: 150px;
  overflow: hidden;
}

.filterValuesHidden::after {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 35px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.9) 70%);
  content: "";
}

.toggleButton {
  margin-top: 10px;
  font-size: 14px;
  color: var(--blue-light);
}

.toggleButton:hover {
  text-decoration: underline;
}

.filterTitle {
  display: block;
  font-weight: 700;
  cursor: pointer;
}

.filterBars {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBar {
  position: relative;
  max-width: 120px;
  width: 100%;
  height: 40px;
}

.filterBarLabel {
  font-size: 12px;
  color: var(--grey-light);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.filterBarInput {
  max-width: 120px;
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 30px;
  border: 1px solid var(--grey-light);
  overflow: hidden;
  border-radius: 8px;
}

.filterBarInput:hover {
  border-color: black;
}

.filterBarInput:focus {
  border-color: var(--red);
}

.filterBarDivider {
  color: var(--grey-light);
}

.filterColors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filterAttributes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filterColor {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  cursor: pointer;
  padding: 7px 10px;
  border: 1px solid var(--grey-light);
  border-radius: 8px;
}

.filterAttribute {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  cursor: pointer;
}

.filterColorActive {
  border-color: var(--blue-light);
}

.filterAttributeActive {
  border-color: var(--blue-light);
}

.filterColor input {
  display: none;
}

.filterAttribute input {
  display: none;
}

.filterColorLabel::first-letter {
  text-transform: uppercase;
}

.filterAttributeCustomCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--grey-light);
  border-radius: 4px;
}

.filterAttributeCustomCheckbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/checkbox.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.filterAttribute input:checked + .filterAttributeCustomCheckbox::after {
  opacity: 1;
}

.filterUnavailable {
  opacity: 0.5;
}

.filterAttributeLabel {
  flex: 1;
}

.filterAttributeCount {
  font-size: 12px;
  color: var(--grey-light);
}

.filterColorPalette {
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid var(--grey-light);
  border-radius: 2px;
}

.priceRange {
  position: relative;
  height: 15px;
  width: 100%;
  margin-top: 10px;
}

.priceRangeSlider {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.priceRangeSliderMin {
  z-index: 2;
  pointer-events: auto;
}

.priceRangeSliderMax {
  z-index: 3;
  pointer-events: auto;
}

.priceRangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--white);
  border: 3px solid var(--red);
  cursor: pointer;
}

.priceRangeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.priceRangeTrack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: var(--red);
  z-index: 1;
}

.priceRangeSliderMin::-webkit-slider-runnable-track,
.priceRangeSliderMax::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
}

@media (max-width: 1024px) {
  .filterBarInput {
    padding: 10px 10px 10px 10px;
  }

  .filterBar {
  }

  .filterBarLabel {
    top: 0;
    background: var(--white);
  }
}

@media (max-width: 768px) {
  .filter {
    display: none;
  }
}
