.body {
  margin-top: 35px;
}

.home {
  max-width: calc(1300px + 40px);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.product {
  max-width: calc(1300px + 40px);
  width: 100%;
  margin: 0 auto;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.home .list {
  grid-template-columns: repeat(6, 1fr);
}

.product .list {
  grid-template-columns: repeat(6, 1fr);
}

.title {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .home {
    padding: 0 12px;
  }

  .home .list {
    overflow-x: scroll;
  }

  .product {
    padding: 0 12px;
  }

  .product .list {
    overflow-x: scroll;
  }
}
