.body {
  margin-top: 35px;
}

.home {
  margin-top: 0px;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.home .list {
  grid-template-columns: repeat(6, 1fr);
}

.title {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .home .list {
    overflow-x: scroll;
  }
}
