.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modalContent {
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  padding: 24px;
  border-radius: 8px;
  position: relative;
  animation: openModal 0.5s;
  transition: all 0.3s ease-in-out;
}

.modalOverlayActive {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modalContentActive {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modalClose {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10000;
  cursor: pointer;
}

.modalClose:hover {
  filter: invert(40%) sepia(9%) saturate(477%) hue-rotate(166deg) brightness(98%) contrast(89%);
}

@media (max-width: 768px) {
  .modalOverlay {
    align-items: flex-end;
  }

  .modalContent {
    position: relative;
    height: 75vh;
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding: 24px 12px;
    bottom: -300%;
    transition: all 0.4s linear;
  }

  .modalContentActive {
    bottom: 0;
    transition: all 0.4s linear;
  }

  .modalSwipeDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
  }

  .modalContent::before {
    position: absolute;
    top: 10px;
    left: calc(50% - 38px);
    width: 76px;
    height: 4px;
    background: #d9dcde;
    border-radius: 8px;
    content: "";
  }

  .modalClose {
    right: 12px;
  }
}
