/* WELCOME */
.welcome {
  margin-top: 25px;
  max-height: 380px;
}

.welcomeInner {
  display: flex;
  gap: 20px;
  max-height: 380px;
}

@media (max-width: 1024px) {
  .welcome {
    max-height: none;
  }
  .welcomeInner {
    flex-direction: column;
    gap: 30px;
    max-height: none;
  }
}

@media (max-width: 768px) {
  .welcome {
    margin-top: 0;
  }
}
