.productPageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.productPageMain {
  width: 100%;
  padding: 50px 80px;
  background: var(--white);
  border-radius: 8px;
}

.productPageSidebar {
  padding: 20px;
  background: var(--white);
  border-radius: 8px;
}

.productPageCard {
  display: flex;
  gap: 80px;
}

.productPageLeft {
  width: 50%;
  position: relative;
}

.productPageStickers {
  position: absolute;
  top: 0;
  left: 0;
}

.productPageStickersLabel {
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  color: var(--white);
  font-size: 10px;
  font-weight: 700;
  background: var(--red);
  border-radius: 4px;
}

.productPageAdvantages {
  padding: 8px 0;
  margin: 0 auto;
  max-width: 440px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(238, 239, 240);
  border-bottom: 1px solid rgba(238, 239, 240);
}

.productPageAdvantage {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.productPageAdvantageImage {
  width: 16px;
  height: 16px;
}

.productPageAdvantageText {
  color: var(--grey);
  font-size: 12px;
}

.productPageActions {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-radius: 2px;
}

.productPageAction {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.productPageActionIcon {
  height: 26px;
  width: 26px;
}

.productPageActionTitle {
  font-size: 14px;
}

.productPageActionIcon:hover {
  filter: invert(24%) sepia(100%) saturate(7486%) hue-rotate(5deg) brightness(91%) contrast(97%);
}

.productPageActionActive .productPageActionIcon {
  filter: invert(24%) sepia(100%) saturate(7486%) hue-rotate(5deg) brightness(91%) contrast(97%);
}

.tooltip {
  visibility: hidden;
  width: 140px;
  background-color: var(--grey-90);
  color: var(--white);
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.productPageTitle {
  margin-bottom: 10px;
}

.productPageShortDescriptions {
  margin-top: 30px;
  width: 100%;
}

.productPageGalery {
  margin: auto;
  margin-top: 20px;
  width: 60px;
  box-sizing: content-box;
}

.productPageSwiper {
  width: 60px;
}

.productPageArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.productPageArrowIcon {
  width: 20px;
  height: 20px;
}

.productPageArrowPrev {
  left: -30px;
}

.productPageArrowNext {
  right: -30px;
}

.productPageSlide {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
  padding: 5px;
  border-radius: 8px;
}

.productPageGalery .swiper-slide:not(.swiper-slide-thumb-active):hover .productPageSlide {
  background-color: rgba(0, 0, 0, 0.2);
}

.productPageSlideContainer {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-top: 24px;
}

.productPageSlideItem {
  display: flex;
  flex-direction: center;
  align-items: center;
}

.thumbnailContainer {
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
}

.thumbnailContainer:hover .productPageSlidePreview {
  transform: scale(2);
}

.productPageSlidePreview {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: contain;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.swiper-slide-thumb-active .productPageSlide {
  border: 1px solid var(--grey-90);
}

.productPageRight {
  width: 50%;
}

.shortDescription {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.shortDescription:not(:last-child) {
  border-bottom: 1px solid #d2d2d7;
}

.shortDescriptionIcon {
  flex-shrink: 0;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

.shortDescriptionTitle {
  font-weight: 700;
}

.dotted {
  height: 14px;
  margin: 0 5px;
  flex: 1 0 auto;
  box-sizing: border-box;
  border-bottom: 2px dotted #c0c5c9;
}

.characteristicsBtn {
  display: block;
  color: var(--blue-light);
  font-size: 14px;
  font-weight: 700;
}

.characteristicsBtn:hover {
  text-decoration: underline;
}

.productPageColors {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.productPageColorsTitle {
  font-size: 16px;
  color: var(--grey-90);
}

.productPageColorsList {
  display: flex;
  gap: 10px;
}

.productPageColorPallete {
  position: relative;
  display: block;
  height: 16px;
  width: 16px;
  content: "";
  border-radius: 50%;
}

.productPageColorPalleteActive::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid var(--blue-light);
}

.productPageCode {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--grey);
}

.productPageBuy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productPagePriceActual {
  font-size: 20px;
  font-weight: 700;
}

.productPagePriceDiscount {
  color: var(--grey-medium);
  margin-left: 10px;
  text-decoration: line-through;
}

.productPageButtonCart {
  color: var(--white);
  height: 36px;
  padding: 7.5px 16px;
  background: var(--blue-light);
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}

.productPageButtonCart:hover {
  background: var(--blue);
}

.productPageServices {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #f4f4f4;
  border-radius: 2px;
}

.productPageService {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productPageServiceImage {
  width: 24px;
  height: 24px;
}

.productPageServiceTitle {
  font-size: 14px;
}

.productPageService:not(:last-child) {
  margin-bottom: 8px;
}

.productPageAction:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.productPageVariants {
  margin-bottom: 10px;
}

.productPageVariantsList {
}

.productPageVariantsTitle {
  font-weight: 700;
  margin-bottom: 5px;
}

.productPageVariantsGroup {
}

.productPageVariantsValue {
  display: inline-block;
  padding: 8px 24px;
  color: var(--grey-90);
  font-size: 14px;
  border-radius: 20px;
}

.productPageVariantsValueActive {
  background: #e8e8ed;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .productPageMain {
    padding: 0;
    background: none;
  }

  .productPageCard {
    flex-direction: column;
    gap: 0px;
  }

  .productPageLeft {
    width: 100%;
    margin-bottom: 8px;
    padding: 20px 12px;
    background: var(--white);
  }

  .productPageRight {
    width: 100%;
  }

  .headerMob {
    padding: 20px 12px 0px;
    background: var(--white);
  }

  .titleMob {
    display: block;
    margin-bottom: 5px;
  }

  .productPageCodeMob {
    font-size: 12px;
    display: block;
  }

  .title {
    display: none;
  }

  .productPageCode {
    display: none;
  }

  .productPageStickers {
    top: 15px;
    left: 12px;
  }

  .productPageActions {
    top: 15px;
    right: 12px;
    flex-direction: column-reverse;
  }

  .productPageAdvantage {
    width: 33.333%;
  }

  .productPageAdvantageText {
    text-wrap: wrap;
  }

  .productPageColors {
    display: block;
    padding: 12px 12px 16px;
    margin-bottom: 0;
    background: var(--white);
  }

  .productPageColorsTitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .productPageColorsList {
    margin-left: 3px;
  }

  .productPageVariantsTitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .productPageVariants {
    padding: 0 12px 12px;
    background: var(--white);
  }

  .productPageVariantsValue {
    padding: 4px 16px;
  }

  .productPageBuy {
    display: none;
  }

  .shortDescriptionsList {
    padding: 20px 12px;
    background: var(--white);
  }

  .shortDescription:first-child {
    padding-top: 0;
  }

  .shortDescription:last-child {
    padding-bottom: 0;
  }

  .shortDescriptionTitle {
    font-size: 14px;
  }

  .shortDescriptionText {
    font-size: 14px;
  }

  /* .productPageBuy {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 10px 12px;
    background: var(--white);
    margin-bottom: 0;
  } */
}
