.categoryPage {
  display: flex;
  gap: 20px;
}

.categoryPageBody {
  max-width: 970px;
  width: 100%;
}

.categoryPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.categoryPageRedirects {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.categoryPageRedirect {
  display: flex;
  flex-direction: column;
  color: var(--grey-light);
  text-align: center;
  font-size: 12px;
  padding: 15px 10px;
  background: var(--white);
  transition: all 0.2s ease-in-out;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.categoryPageRedirect:nth-child(6n) {
  border-right: none;
}

.categoryPageRedirect:nth-last-child(-n + 6) {
  border-bottom: none;
}

.categoryPageRedirect:last-child {
  border-right: none;
}

.categoryPageRedirect:hover {
  transform: scale(1.05);
}

.categoryPageTitle {
  margin-bottom: 10px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pageTitle {
  margin-bottom: 5px;
}

.categoryPageCount {
  color: var(--grey-light);
  font-size: 12px;
}

.categoryPageProducts {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.redirectImage {
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .categoryPageProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
