.searchPage {
  display: flex;
  gap: 20px;
}

.searchPageBody {
  max-width: 970px;
  width: 100%;
}

.searchPageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchPageTitle {
  margin-bottom: 5px;
}

.searchPageCount {
  color: var(--grey-light);
  font-size: 12px;
}

.searchPageProducts {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.redirectImage {
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}
