.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 24px;
  text-align: center;
}

.text {
  text-align: center;
}

.image {
  margin: 0 auto;
  position: relative;
}

.logo {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.call {
  color: var(--white);
  padding: 8px 16px;
  margin: 0 auto;
  width: max-content;
  background: var(--red);
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
  animation: animate 0.5s linear infinite;
}

.call:hover {
  background: var(--red-dark);
}

.redirects {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.redirect {
  display: block;
  font-size: 12px;
  color: var(--blue-light);
}

@media (max-width: 768px) {
  .message {
    height: 100%;
    justify-content: center;
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
